.app-simi{
    margin-top: 100px; 
    padding-bottom: 100px; 
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
    overflow: hidden;
}
.concu{
    margin: 100px 80px;
    &--titre{
        margin-top: 50px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }
    &__text{
        width: 500px;
        height: 225px;
        overflow: auto;
        padding: 33px;
    }
    &__ensemble{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 0 80px;
        gap: 10px;
        row-gap: 33px;
    }
    &__waze{
        background-image: url(../../assets/images/waze.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px;
    }
    &__google{
        background-image: url(../../assets/images/google-maps.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px;
    }
    &__coyote{
        background-image: url(../../assets/images/coyote.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px;
    }
    &__mappy{
        background-image: url(../../assets/images/mappy.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px;
    }
    &__michelin{
        grid-column: 1 / 3;
        background-image: url(../../assets/images/via-michelin.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 20px;
    }
    &-simi{
        max-width: 740px;
        min-width: 55ch;
        padding-top: 100px;
        text-align: center;
        position: relative;
        margin: 0 auto;
    }

}
.box{
    justify-self: center;
}
.trace-white{
    position: absolute;
    right: 0;
    rotate: 180deg;
    bottom: -160px;
}
.numbertext{
    display: none;
}
.mySlides{
    justify-self: center;
}
.fade{
    justify-self: center;
}


@media (max-width: 1320px){
    .concu__text{
        width: 370px;
        height: 188px;
    }
    .trace-white{
        bottom: -182px;
    }
}
@media (max-width: 1100px){
    .concu{
        margin: 100px 40px;

        &__ensemble{
            margin: 0 40px;
        }
        &__text {
            width: 295px;
            height: 188px;
        }
        &-simi{
            max-width: 625px;
        }
    }
    .trace-white{
        width: 450px;
    }
}
