.app-simi{
    margin-top: 100px;  
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
    overflow: hidden;
}
.concu{
    margin-left: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
    &__text{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    &-simi{
        max-width: 740px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
.menu--deroulant{
    content: '>';
    // position: absolute;
    // display: inline-block;
    display: flex;
    padding: 20px;

    &__2{
        left: 300px;
    }
    &__3{
        left: 600px;
    }
    &__4{
        left: 800px;
    }
    &__5{
        left: 1000px;
    }
}
.menu--deroulant > :after{
    content: '>';
    margin-left: 7px;
    display: inline-block;
}
@keyframes rotationFleche {

    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
.menu--deroulant:hover > :after{
    animation: rotationFleche 0.2s linear forwards;
}
@keyframes apparitionSousmenu {
    0%{
        border-top: 3 px solid #d00000;
    }
    30%{
    }
    100%{
        max-height: 50em;
        border-top: 3px solid #d00000;
    }
}
.menu--deroulant:hover > .sous-menu {
    animation: apparitionSousmenu 1s forwards;
}

.sous-menu {
    max-width: 250px;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    font-size: 14px;
}
.trace-white{
    position: absolute;
    right: 0;
    rotate: 180deg;
    bottom: -160px;
}