.bm{
    position: relative;
    overflow: hidden;
    height: 442px;
    top: -155px;
}
.img-bm{
    position: absolute;
    right: -180px;
    top: -72px;
}

@media (max-width: 1100px){
    .bm{
        height: 370px;
    }
    .img-bm {
        top: -43px;
        width: 400px;
    }
}

@media (max-width: 600px) {
    .img-bm {
        top: -30px;
        width: 350px;
    }
}