.credits{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    color: #FFC800;
}
.credits a{
    color: #FFC800;
}
.subNav{
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
}
.subNav__el a{
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
}
.subNav__el a:hover,
.subNav__el a:focus{
    /* background-color: #A30000;
    color: #1CCCF0; */
    color: #FFC800;
}
