.app-simi{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 100px);
    gap: 10px;   
}
.concu{
    color: black;
    grid-column: 1 / 6;
    grid-row: 1;
    margin-left: 40px;

    &__text{
        display: flex;
        justify-content: space-between;
        grid-column: 1 / 6;
        grid-row: 2;
        align-self: center;

    }
}
.concu-simi{
    grid-column: 2 / 5;
    grid-row: 6;
}
.menu--deroulant{
    content: '>';
    display: inline-block;
    &__1{
        grid-column: 1, 5;
    }

    &__2{
        left: 300px;
    }
    &__3{
        left: 600px;
    }
    &__4{
        left: 800px;
    }
    &__5{
        left: 1000px;
    }
}
.menu--deroulant > :after{
    content: '>';
    margin-left: 7px;
    display: inline-block;
}
@keyframes rotationFleche {

    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
.menu--deroulant:hover > :after{
    animation: rotationFleche 0.2s linear forwards;
}
@keyframes apparitionSousmenu {
    0%{
        border-top: 3 px solid #d00000;
    }
    30%{
    }
    100%{
        max-height: 50em;
        border-top: 3px solid #d00000;
    }
}
.menu--deroulant:hover > .sous-menu {
    animation: apparitionSousmenu 1s forwards;
}

.sous-menu {
    max-width: 250px;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    font-size: 14px;
}