.interview{
    margin-left: auto;
    margin-top: 150px;
    margin-right: 80px;
}
.inter--img{
    position: absolute;
    left: -227px;
    width: 610px;
    rotate: 310deg;
    opacity: 40%;
}

@media (max-width: 1100px){
    .interview{
        margin-right: 40px;
    }
    .inter--img{
        width: 400px;
        margin-top: 150px;
    }
}
@media (max-width: 600px) {
    .interview{
        min-width: 0;
        margin-top: 100px;
        margin-left: 40px;
        &__text{
            min-width: 0;
        }
    }
    .inter--img{
        width: 400px;
        margin-top: 150px;
        opacity: 10%;
    }
}