.interview{
    max-width: 740px;
    min-width: 55ch;
    margin-left: auto;
    margin-top: 150px;
    margin-right: 80px;
    &__text{
        margin-top: 33px;
        max-width: 740px;
        font-size: 14px;
        min-width: 55ch;
    }
}
.inter--img{
    position: absolute;
    left: -227px;
    width: 610px;
    rotate: 310deg;
    opacity: 40%;
}

@media (max-width: 1100px){
    .interview{
        max-width: 480px;
        margin-right: 40px;
    }
    .inter--img{
        width: 400px;
        margin-top: 150px;
    }
}
@media (max-width: 1320px){
}