header{
    .logo{
        width: 45px;
        margin: 25px 0 0 40px;
    }
    h1{
        font-family: 'Varela Round', sans-serif;
        max-inline-size: 4ch;
        font-size: 113px;
        position: relative;
        left: 60px;
    }
    .image-acc{
        max-width: 60%;
        display: flex;
        margin-left: auto;
        margin-top: -600px;
    }
}
.menu{
    width: 60%;
    z-index: 1;
    margin-left: auto;
    &__list{
        background-color: #FFC800;
        height: 80px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
}
.menu__el a{
    color: #3D6B74;
    text-decoration: none;
}
.sticky-menu{
    position: sticky;
    z-index: 1;
    &__list{
        background-color: #FFC800;
        width: 60%;
        height: 80px;
        list-style: none;
    }
       & ul{
        list-style: none;
        margin: 0;
        overflow: hidden;
    }
    .menu__el a{
        color: #3D6B74;
    }
    a:hover,
    a:focus{
        color: red;
    }
    a:active {
        text-decoration: underline;
      }
} 

.sticky {
    top:0;
    right: 0;
    width: 100%;
  }  

.content{
    height: 100%;
}

.intro{
    margin-top: 162px;
    &__titre{
        margin-top: -539px;
        margin-left: 40%;
    }
    &__text{
        display: flex;
        max-width: 740px;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 40%;
        margin-top: 33px;
        color: #E9F1F7;
    }
}
.intro__img{
    max-width: 38%;
    margin-top: -162px;
    opacity: 70%;
}
