header{
    .logo{
        width: 45px;
        margin: 25px 0 0 40px;
    }
    h1{
        font-family: 'Varela Round', sans-serif;
        max-inline-size: 4ch;
        font-size: 113px;
        position: relative;
        left: 60px;
    }
    .image-acc{
        max-width: 60%;
        display: flex;
        margin-left: auto;
        margin-top: -520px;
    }
}
.menu{
    width: 60%;
    z-index: 1;
    margin-left: auto;
    &__list{
        background-color: #FFC800;
        height: 80px;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
}
.menu__el a{
    color: #3D6B74;
    text-decoration: none;
}
.sticky-menu{
    position: sticky;
    z-index: 1;
    &__list{
        background-color: #FFC800;
        width: 60%;
        height: 80px;
        list-style: none;
    }
       & ul{
        list-style: none;
        margin: 0;
        overflow: hidden;
    }
    .menu__el a{
        color: #3D6B74;
    }
    a:hover,
    a:focus{
        color: red;
    }
    a:active {
        text-decoration: underline;
      }
} 

.sticky {
    top:0;
    right: 0;
    width: 100%;
  }  

.content{
    height: 100%;
}

.intro{
    margin-top: 162px;
    &__titre{
        margin-top: -539px;
        margin-left: 40%;
    }
    &__text{
        display: flex;
        max-width: 740px;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 40%;
        margin-top: 33px;
        color: #E9F1F7;
    }
}
.intro__img{
    max-width: 38%;
    margin-top: -162px;
    opacity: 70%;
}
@media (min-width: 1001px){
    .menu__burger{
        display: none;
    }
}
@media (max-width: 1000px){

    .menu__burger{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 100;
        cursor: pointer;
        background-image: url(../../assets/images/menu.svg);
        background-repeat: no-repeat;
        height: 50px;
        width: 50px;
        background-color: transparent;
        border: none;
    }

    .menu__liste{
        position: fixed;
        background-color: indianred;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        transform: scale(.6) translateY(-20%) rotate(180de);
        opacity: 1;
        pointer-events: none;

        transition: all .4s cubic-bezier(0.16, 1, 0.3, 1);
    }

    .menu--open .menu__liste{
        /* left: 0; a ne pas faire*/
        transform: translateX(-100%);
    }

    .menu__el{
        transform: translateY(-20px);
        opacity: 0;
        transition: all .5s .5s cubic-bezier(0.16, 1, 0.3, 1);
    }

    .menu--open .menu__el{
        transform: translateY(0);
        opacity: 1;
    }

    .menu--open .menu__el:nth-child(2){
        transition-delay: .7s;
    }

    .menu--open .menu__el:nth-child(3){
        transition-delay: .9s;
    }

    .menu--open .menu__el:nth-child(4){
        transition-delay: 1.1s;
    }
    
    .menu--open .menu__el:nth-child(5){
        transition-delay: 1.3s;
    }
}