.why{
    max-width: 740px;
    min-width: 55ch;
    display: flex;
    flex-direction: column;
    margin-top: 126px;
    margin-left: 80px;
    &__text{
        margin-top: 33px;
        color: #E9F1F7;
    }
    &__text2{
        color: #E9F1F7;
        margin-top: 17px;
    }
}
