*, ::backdrop{
    margin: 0;
}
body {
    background-color: #3D6B74;
    // margin: 40px;
    font-family: 'Varela', sans-serif;
    font-size: 20px;
}

header{
    .logo{
        width: 45px;
        margin: 25px 0 0 40px;
    }
    h1{
        font-family: 'Varela Round', sans-serif;
        max-inline-size: 4ch;
        font-size: 113px;
        position: relative;
        left: 60px;
    }
    .menu{
        width: 815px;
        position: absolute;
        right: -40px;
        background-color: #FFC800;
        padding-right: 40px;
        top:-148px;
        &__list{
            height: 80px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    #sticky-menu{
        position: sticky;
        top:0;
        float: right;
        right: 0;
        &ul{
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            display: flex;
            justify-content: flex-end;
        }
        &li a {
            display: block;
            padding: 10px;
            text-decoration: none;
        }
    }
     
}