@import 'components/menu';
@import 'components/appSimi';
@import 'components/interview';
@import 'components/why';
@import 'components/avantage';
@import 'components/limite';
@import 'components/decoBM';

*, ::backdrop{
    margin: 0;
}
body {
    background-color: #1F2324;
    font-family: 'Varela', sans-serif;
    font-size: 20px;
}
h2{
    font-family: 'Abhaya Libre', serif;
    font-size: 57px;
    font-weight: bold;
    color: white;
}
h3{
    font-family: 'Abhaya Libre', serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
p{
    line-height: 30px;
    color: white;
}