header {
  height: 100%;
  background-color: #1F2324;
}

.fond-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 1;
  background-color: #1F2324;
}

.logo {
  width: 45px;
  margin: 15px 0 0 40px;
  position: fixed;
  z-index: 1;
}

h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 40px;
  position: fixed;
  left: 140px;
  top: 22px;
  z-index: 1;
  color: #E9F1F7;
}

h1 a {
  text-decoration: none;
  color: #E9F1F7;
}

.menu {
  top: 0;
  width: 100%;
}
.menu__list {
  height: 80px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  position: fixed;
}

.menu__el a {
  color: #E9F1F7;
  text-decoration: none;
}

.sticky-menu {
  position: sticky;
  z-index: 1;
}
.sticky-menu__list {
  width: 60%;
  height: 80px;
  list-style: none;
}
.sticky-menu ul {
  list-style: none;
  margin-left: 30%;
  overflow: hidden;
  width: 70%;
  color: #E9F1F7;
}
.sticky-menu .menu__el a {
  color: #E9F1F7;
}
.sticky-menu a:hover,
.sticky-menu a.Mactive,
.sticky-menu a:focus {
  color: #FFC800;
}

.sticky {
  top: 0;
  right: 0;
  width: 100%;
}

.Tbtn {
  display: none;
}

.intro {
  padding-top: 200px;
  max-width: 740px;
  margin-left: auto;
  margin-right: 80px;
}
.intro__text {
  margin-top: 33px;
}
.intro--img {
  max-width: 715px;
  position: absolute;
  left: -240px;
  z-index: -1;
}
.intro--btn {
  width: 257px;
  height: 72px;
  border-style: solid;
  border-radius: 25px;
  border-color: #FFC800;
  margin-top: 50px;
  color: white;
  background-color: #1F2324;
  font-size: 28px;
  font-family: "Varela Round";
}
.intro--btn a {
  text-decoration: none;
  color: white;
  display: flex;
  width: 239px;
  height: 63px;
  align-items: center;
  justify-content: center;
}
.intro--btn a:hover,
.intro a:focus {
  color: #1F2324;
  background-color: #FFC800;
  width: 257px;
  height: 72px;
  border-style: solid;
  border-radius: 25px;
  margin-top: -3px;
  margin-left: -10px;
}

.trace {
  position: absolute;
  width: 773px;
  height: 657px;
  left: -415px;
  top: 398px;
  rotate: 180deg;
  z-index: -1;
}

@media (max-width: 1320px) {
  .intro--img {
    width: 600px;
    left: -300px;
  }
}
@media (max-width: 1100px) {
  .fond-header {
    height: 6%;
  }
  .logo {
    width: 38px;
    margin: 15px 0 0 30px;
  }
  h1 {
    font-size: 25px;
    left: 83px;
  }
  .intro {
    padding-top: 150px;
    max-width: 480px;
    margin-right: 40px;
  }
  .intro--img {
    max-width: 525px;
    left: -240px;
  }
  .intro--btn {
    width: 227px;
    height: 63px;
    font-size: 18px;
  }
  .intro--btn a {
    width: 211px;
    height: 53px;
  }
  .intro--btn a:hover,
  .intro a:focus {
    width: 227px;
    height: 63px;
    margin-top: -3px;
    margin-left: -10px;
  }
  .trace {
    width: 772px;
    height: 414px;
    left: -558px;
    rotate: 180deg;
  }
}
@media (min-width: 820px) {
  .menu__burger {
    display: none;
  }
}
@media (max-width: 819px) {
  .menu__burger {
    position: fixed;
    top: 7px;
    right: 37px;
    z-index: 100;
    cursor: pointer;
    background-image: url(../../assets/images/menu.svg);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
  }
  .menu__liste {
    position: fixed;
    background-color: #1F2324;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: scale(0.6) translateY(-20%) rotate(180deg);
    opacity: 1;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .menu--open .menu__liste {
    /* left: 0; a ne pas faire*/
    transform: translateX(0);
    background-color: #1F2324;
  }
  .menu__el {
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.5s 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .menu--open .menu__el {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0;
  }
  .menu--open .menu__el:nth-child(2) {
    transition-delay: 0.7s;
  }
  .menu--open .menu__el:nth-child(3) {
    transition-delay: 0.9s;
  }
  .menu--open .menu__el:nth-child(4) {
    transition-delay: 1.1s;
  }
  .menu--open .menu__el:nth-child(5) {
    transition-delay: 1.3s;
  }
  body.menu-open {
    overflow: hidden;
  }
  body.menu-open .fond-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40vh;
    background-color: #1F2324;
    z-index: 1;
  }
}
@media (max-width: 819px) {
  .logo {
    width: 30px;
    margin: 10px 0 0 30px;
  }
  .fond-header {
    height: 50px;
  }
  h1 {
    font-size: 25px;
    left: 83px;
    top: 10px;
  }
  .menu {
    top: 0;
    width: 100%;
  }
  .menu__list {
    height: 242px;
    flex-direction: column;
    font-size: 16px;
  }
  .sticky-menu {
    position: sticky;
    z-index: 1;
  }
  .sticky-menu__list {
    width: 60%;
    height: 80px;
    list-style: none;
  }
  .sticky-menu ul {
    list-style: none;
    overflow: hidden;
    color: #E9F1F7;
    width: 23%;
    margin-top: 50px;
    margin-left: auto;
    right: 40px;
  }
  .intro--img {
    max-width: 478px;
    left: -240px;
    top: 94px;
    opacity: 40%;
  }
  .intro .trace {
    rotate: 243deg;
    top: 297px;
  }
}
@media (max-width: 600px) {
  .intro {
    padding-top: 150px;
    max-width: 390px;
    margin-right: 40px;
  }
  .intro--img {
    max-width: 375px;
    left: -240px;
    top: 4px;
  }
  .intro__text {
    max-width: 300px;
    margin-left: 40px;
    margin-right: 0;
    margin-top: 50px;
  }
  .intro--btn {
    width: 180px;
    height: 53px;
    margin-left: 40px;
    font-size: 16px;
  }
  .intro--btn a {
    width: 163px;
    height: 45px;
  }
}
.app-simi {
  margin-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.concu {
  margin: 100px 80px;
}
.concu--titre {
  margin-top: 50px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.concu__text {
  width: 500px;
  height: 225px;
  overflow: auto;
  padding: 33px;
}
.concu__ensemble {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: 0 80px;
  gap: 10px;
  row-gap: 33px;
}
.concu__waze {
  background-image: url(../../assets/images/waze.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
}
.concu__google {
  background-image: url(../../assets/images/google-maps.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
}
.concu__coyote {
  background-image: url(../../assets/images/coyote.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
}
.concu__mappy {
  background-image: url(../../assets/images/mappy.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
}
.concu__michelin {
  grid-column: 1/3;
  background-image: url(../../assets/images/via-michelin.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
}
.concu-simi {
  max-width: 740px;
  min-width: 55ch;
  padding-top: 100px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.box {
  justify-self: center;
}

.trace-white {
  position: absolute;
  right: 0;
  rotate: 180deg;
  bottom: -160px;
}

@media (max-width: 1320px) {
  .concu__text {
    width: 370px;
    height: 188px;
  }
  .trace-white {
    bottom: -182px;
  }
}
@media (max-width: 1100px) {
  .concu {
    margin: 100px 40px;
  }
  .concu__ensemble {
    margin: 0 40px;
  }
  .concu__text {
    width: 295px;
    height: 188px;
  }
  .concu-simi {
    max-width: 625px;
  }
  .trace-white {
    width: 450px;
  }
}
@media (max-width: 600px) {
  .concu {
    left: auto;
  }
  .concu__ensemble {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
  }
  .concu--titre {
    margin-top: 40px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
  }
  .concu__text {
    width: 232px;
    height: 89px;
    padding: 35px;
    margin: 0 auto;
  }
  .concu-simi {
    max-width: 344px;
    min-width: 0;
    text-align: start;
  }
}
.interview {
  max-width: 740px;
  min-width: 55ch;
  margin-left: auto;
  margin-top: 150px;
  margin-right: 80px;
}
.interview__text {
  margin-top: 33px;
  max-width: 740px;
  font-size: 14px;
  min-width: 55ch;
}

.inter--img {
  position: absolute;
  left: -227px;
  width: 610px;
  rotate: 310deg;
  opacity: 40%;
}

@media (max-width: 1100px) {
  .interview {
    max-width: 480px;
    margin-right: 40px;
  }
  .inter--img {
    width: 400px;
    margin-top: 150px;
  }
}
@media (max-width: 600px) {
  .interview {
    max-width: 480px;
    min-width: 0;
    margin-top: 100px;
    margin-left: 40px;
  }
  .interview__text {
    max-width: 310px;
    font-size: 10px;
    min-width: 0;
  }
  .inter--img {
    width: 400px;
    margin-top: 150px;
    opacity: 10%;
  }
}
.why {
  max-width: 100%;
  min-width: 55ch;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 80px;
  position: relative;
  overflow: hidden;
}
.why--title {
  padding-top: 150px;
}
.why--img {
  position: absolute;
  right: -150px;
}
.why__text {
  max-width: 740px;
  margin-top: 33px;
  color: #E9F1F7;
}
.why__text2 {
  max-width: 740px;
  color: #E9F1F7;
  margin-top: 17px;
}

@media (max-width: 1320px) {
  .why--img {
    right: -215px;
  }
}
@media (max-width: 1100px) {
  .why {
    margin-left: 40px;
    margin-top: 100px;
  }
  .why__text {
    max-width: 480px;
  }
  .why--img {
    width: 420px;
  }
}
@media (max-width: 600px) {
  .why {
    max-width: 100%;
    min-width: 0;
    margin-top: 120px;
    margin-left: 40px;
  }
  .why--title {
    padding-top: 50px;
    left: auto;
    margin-left: 0;
    width: 100%;
  }
  .why--img {
    position: absolute;
    right: -150px;
    width: 300px;
    top: 183px;
    z-index: -1;
    opacity: 40%;
  }
  .why__text {
    max-width: 310px;
    margin-top: 33px;
    margin-right: 40px;
  }
  .why__text2 {
    max-width: 310px;
    margin-right: 40px;
  }
}
.avantage {
  background-color: white;
  background-image: url(../../assets/images/fond-relief.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
  position: relative;
  overflow: hidden;
}
.avantage__fond {
  position: absolute;
  width: 100%;
  height: 100%;
}
.avantage__title {
  padding-top: 100px;
  color: black;
  margin: 0 80px 100px;
}
.avantage-grid {
  margin: 0 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 33px;
}

.av {
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
  max-width: 500px;
}

.box-avantage {
  justify-self: center;
}

.trace-droite {
  position: absolute;
  width: 1064px;
  bottom: -34px;
}

@media (max-width: 1320px) {
  .a4 {
    text-align: center;
  }
}
@media (max-width: 1100px) {
  .avantage {
    padding-bottom: 150px;
  }
  .avantage__title {
    margin: 0 40px 100px;
  }
  .avantage-grid {
    margin: 0 40px;
  }
  .a4 {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .avantage__title {
    left: auto;
    width: 100%;
  }
  .avantage-grid {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
  }
  .hidden {
    display: none;
  }
  .togg-trigger {
    border: 1px solid black;
    padding: 7px;
    border-radius: 12px;
  }
  .togg-trigger-lim {
    border-color: #FFC800;
  }
}
.limite {
  position: relative;
  overflow: hidden;
  top: -333px;
  padding-top: 150px;
  margin-bottom: -332px;
}
.limite__fond {
  position: absolute;
  width: 100%;
  height: 100%;
}
.limite__title {
  margin: 0 80px 100px;
}
.limite-grid {
  margin: 0 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 33px;
  row-gap: 100px;
  padding-bottom: 100px;
}

.distraction {
  grid-column: 1/3;
}

.box-limite {
  justify-self: center;
  max-width: 500px;
}

.box--title {
  text-align: center;
  margin-bottom: 33px;
}

.resume {
  max-width: 740px;
  min-width: 55ch;
  margin-left: auto;
  margin-top: 150px;
  margin-right: 80px;
}
.resume__2 {
  max-width: 740px;
  min-width: 55ch;
  margin-left: auto;
  margin-top: 33px;
  margin-right: 80px;
}

.forme {
  position: absolute;
  right: -200px;
  max-width: 400px;
  top: 60%;
}

.pilote {
  position: absolute;
  left: -100px;
  bottom: 10px;
}
.pilote__marque {
  rotate: 50deg;
  position: absolute;
  bottom: -19px;
  left: -150px;
  z-index: -1;
}
.pilote__marque-2 {
  rotate: 247deg;
  position: relative;
  top: -146px;
  left: -41px;
  width: 539px;
}

@media (max-width: 1320px) {
  .pilote {
    left: -225px;
  }
  .pilote__marque {
    left: -330px;
  }
  .pilote__marque-2 {
    left: -154px;
  }
}
@media (max-width: 1100px) {
  .limite {
    position: relative;
    overflow: hidden;
    top: -333px;
    padding-top: 150px;
  }
  .limite__fond {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .limite__title {
    margin: 0 40px 100px;
  }
  .limite-grid {
    margin: 0 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 33px;
    row-gap: 100px;
    padding-bottom: 100px;
  }
  .resume {
    max-width: 500px;
    min-width: 50ch;
    margin-left: auto;
    margin-top: 50px;
    margin-right: 80px;
  }
  .resume__2 {
    max-width: 500px;
    min-width: 50ch;
    margin-left: auto;
    margin-top: 33px;
    margin-right: 80px;
  }
  .forme {
    right: -200px;
    max-width: 345px;
    top: 65%;
  }
  .pilote {
    height: 310px;
    left: -150px;
  }
  .pilote__marque {
    height: 300px;
    left: -235px;
    bottom: 20px;
  }
}
@media (max-width: 819px) {
  .limite {
    margin-bottom: -110px;
  }
  .pilote {
    display: none;
  }
  .pilote__marque {
    height: 300px;
    left: -350px;
    bottom: -35px;
    rotate: 198deg;
    z-index: -1;
    opacity: 10%;
  }
  .pilote__marque-2 {
    display: none;
  }
}
@media (max-width: 600px) {
  .limite__title {
    left: auto;
  }
  .limite-grid {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
  }
  .l1, .l2, .l3, .l4, .l5 {
    display: none;
  }
  .toggl1, .toggl2, .toggl3, .toggl4, .toggl5 {
    border: 1px solid white;
    padding: 7px;
    border-radius: 12px;
  }
  .forme {
    right: -184px;
    max-width: 266px;
    top: 62%;
  }
  .resume {
    max-width: 376px;
    min-width: 0;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 40px;
  }
  .resume__2 {
    max-width: 376px;
    min-width: 0;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 40px;
  }
  .pilote {
    display: none;
  }
  .pilote__marque {
    height: 300px;
    left: -350px;
    bottom: -35px;
    rotate: 198deg;
    z-index: -1;
    opacity: 10%;
  }
}
.bm {
  position: relative;
  overflow: hidden;
  height: 442px;
  top: -155px;
}

.img-bm {
  position: absolute;
  right: -180px;
  top: -72px;
}

@media (max-width: 1100px) {
  .bm {
    height: 370px;
  }
  .img-bm {
    top: -43px;
    width: 400px;
  }
}
@media (max-width: 600px) {
  .img-bm {
    top: -30px;
    width: 350px;
  }
}
.credits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  color: #FFC800;
}

.credits a {
  color: #FFC800;
}

.subNav {
  list-style: none;
  text-align: center;
  margin-bottom: 50px;
}

.subNav__el a {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
}

.subNav__el a:hover,
.subNav__el a:focus {
  /* background-color: #A30000;
  color: #1CCCF0; */
  color: #FFC800;
}

.footerUi {
  position: relative;
}

.font {
  padding-top: 150px;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.font__titre {
  padding-bottom: 33px;
}
.font__detail {
  line-height: 30px;
}

.color {
  text-align: center;
  margin-bottom: 50px;
}
.color__titre {
  padding-bottom: 33px;
}

.color--list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.color__ref {
  margin-left: 15px;
  margin-right: 2px;
}

.c1 {
  background-color: #1F2324;
  height: 50px;
  width: 50px;
  border: solid 1px;
}

.c2 {
  background-color: black;
  height: 50px;
  width: 50px;
}

.c3 {
  background-color: white;
  height: 50px;
  width: 50px;
  border: #1F2324 solid;
}

.c4 {
  background-color: #FFC82B;
  height: 50px;
  width: 50px;
}

@media (min-width: 600px) {
  .footerUi {
    width: 100%;
    bottom: 0;
  }
}
@media (max-width: 600px) {
  .color--list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .font__titre {
    margin: 0 auto;
    left: 0;
    text-align: center;
  }
  .color {
    margin-bottom: 100px;
  }
  .color__titre {
    margin: 0 auto;
    left: 0;
    text-align: center;
    width: 240px;
  }
  .c1 {
    border: solid 1px;
  }
}
.credit {
  height: 100%;
  padding-top: 100px;
  margin-bottom: 100px;
  line-height: 50PX;
  text-align: center;
}
.credit__titre {
  padding-bottom: 50px;
  margin: 0;
}

.remer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.thank {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.thank__p {
  margin-right: 5px;
}

.thank a {
  text-decoration: none;
  color: #FFC800;
}

.thank a:hover,
.thank a:focus {
  color: #FFC800;
}

*, ::backdrop {
  margin: 0;
}

body {
  background-color: #1F2324;
  font-family: "Varela", sans-serif;
  font-size: 20px;
}

h2 {
  font-family: "Abhaya Libre", serif;
  font-size: 57px;
  font-weight: bold;
  color: white;
}

h3 {
  font-family: "Abhaya Libre", serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

p {
  line-height: 30px;
  color: white;
}

@media (max-width: 1100px) {
  body {
    font-size: 16px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 32px;
  }
  p {
    line-height: 26px;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  h2 {
    font-size: 30px;
    margin-left: 40px;
    position: relative;
    left: 98px;
    width: 200px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    line-height: 27px;
  }
}/*# sourceMappingURL=app.css.map */