*, ::backdrop{
    margin: 0;
}
body {
    background-color: #3D6B74;
    font-family: 'Varela', sans-serif;
    font-size: 20px;
}
h2{
    font-family: 'Abhaya Libre', serif;
    font-size: 57px;
    font-weight: bold;
    color: #E9F1F7;
}
h3{
    font-family: 'Abhaya Libre', serif;
    font-size: 40px;
    font-weight: bold;
}
p{
    line-height: 28px;
}

header{
    .logo{
        width: 45px;
        margin: 25px 0 0 40px;
    }
    h1{
        font-family: 'Varela Round', sans-serif;
        max-inline-size: 4ch;
        font-size: 113px;
        position: relative;
        left: 60px;
    }
}
.menu{
    width: 815px;
    position: absolute;
    right: -40px;
    background-color: #FFC800;
    padding-right: 40px;
    top:-148px;
    z-index: 1;
    &__list{
        height: 80px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.menu__el a{
    color: #3D6B74;
    text-decoration: none;
}
#sticky-menu{
    position: sticky;
    top:0;
    float: right;
    right: 0;
    & ul{
        list-style: none;
        margin: 0;
        overflow: hidden;
    }
    .menu__el a{
        color: #3D6B74;
    }
    a:hover,
    a:focus{
        color: red;
    }
    a.active {
        text-decoration: underline;
      }
} 

.sticky {
    width: 100%;
    padding-right: 18px;
    justify-content: space-around;
  }  

.content{
    height: 500vh;
}


.intro{
    position: absolute;
    top: 600px;
    max-width: 740px;
    right: 80px;
    &__text{
        margin-top: 33px;
        color: #E9F1F7;
    }
}
.why{
    position: absolute;
    top: 1073px;
    max-width: 600px;
    right: 150px;
    &__text{
        margin-top: 33px;
        color: #E9F1F7;
    }
    &__text2{
        color: #E9F1F7;
        margin-top: 17px;
    }
}
.why-2{
    position: absolute;
    top: 1363px;
    max-width: 530px;
    right: 80px;
}
.interview{
    position: absolute;
    top: 1725px;
    margin-left: 80px;
    &__text{
        margin-top: 33px;
        max-width: 740px;
        font-size: 14px;
    }
}

.concu{
    position: absolute;
    top: 2310px;
    margin-left: 1.5em;
    color: black;
}
